.box img{
    width: 20px;
    height: 20px;
}

.box{
    border: 1px solid black;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.box input{
    border: 0;
    width: 100%;
    border: 0;
    height: 30px;
}